name: Build and Release
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.14"
      - run: pip install chardet pandas pyinstaller
      - run: pyinstaller --onefile --name JSON2XLSX main.py

      - name: Rename Output
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            mv dist/JSON2XLSX.exe dist/JSON2XLSX-windows.exe
          elif [ "$RUNNER_OS" == "Linux" ]; then
            mv dist/JSON2XLSX dist/JSON2XLSX-linux
          elif [ "$RUNNER_OS" == "macOS" ]; then
            mv dist/JSON2XLSX dist/JSON2XLSX-macos
          fi

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: binary-${{ matrix.os }}
          path: dist/JSON2XLSX*
          if-no-files-found: error

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./downloaded_artifacts
          merge-multiple: true

      - name: Display Files (Debug)
        run: ls -R ./downloaded_artifacts

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          files: ./downloaded_artifacts/*
